@use "../card"

.photo
    $size: 400px
    width: $size
    height: $size

h1, h2
    text-align: center
    font-weight: normal

h1
    margin: 0.2em 0

h2
    font-size: 12pt

.gallery
    display: grid
    grid-template-columns: 1fr 6fr
    position: relative

    @media(max-width: 574px)
        display: flex
        flex-direction: column-reverse

.stats
    +card.card

    align-self: start
    font-size: 85%
    position: sticky
    top: 8px

    @media(max-width: 574px)
        margin-bottom: 5rem
        position: unset
        align-self: unset

    h1
        font-size: 85%
    
    table, th, td
        border: none
        text-align: center

    table
        width: 100%
