@use "../card"

.photo
    $size: 400px
    width: $size
    height: $size

h1, h2
    text-align: center
    font-weight: normal

h1
    margin: 0.2em 0

h2
    font-size: 12pt

.gallery
    display: grid
    grid-template-columns: 20% 80%

.stats
    +card.card

    h1
        font-size: 14pt
    
    table, th, td
        border: none
