{% extends "app/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
    {% render_bundle 'gallery_base' 'css' %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% render_bundle 'gallery_base' 'js' %}
{% endblock %}

{% block body %}
    {% if not page_obj %}
        <div class="no-photos">
            <div>Нет фотографий</div>
        </div>
    {% else %}
        <div class="photos">
            {% for photo in page_obj %}
                <div class="photo" data-photo-id="{{ photo.id }}" onclick="photoDetail(this)">
                    <img src="{% get_media_prefix %}{{ photo.photo }}">
                    {% block photo_elements %}
                    {% endblock photo_elements %}
                    <div class="id-badge">№{{ photo.id }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="pagination-center">
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <button onclick="window.location.href = '?page=1'" title="На первую страницу">
                        <span class="material-icons">first_page</span>
                    </button>
                    <button onclick="window.location.href = '?page={{ page_obj.previous_page_number }}'" title="На предыдущую страницу">
                        <span class="material-icons">chevron_left</span>
                    </button>
                {% endif %}
                <button id="current-page" onclick="goToPage()" data-num-pages="{{ page_obj.paginator.num_pages }}">{{ page_obj.number }}</button>
                {% if page_obj.has_next %}
                    <button onclick="window.location.href = '?page={{ page_obj.next_page_number }}'" title="На следующую страницу">
                        <span class="material-icons">chevron_right</span>
                    </button>
                    <button onclick="window.location.href = '?page={{ page_obj.paginator.num_pages }}'" title="На последнюю страницу">
                        <span class="material-icons">last_page</span>
                    </button>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
