{% extends 'app/gallery/base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Моя будущая профессия{% endblock %}

{% block head %}
    {{ block.super }}
    {% render_bundle 'gallery_visit' 'css' %}
    {% render_bundle 'gallery_visit' 'js' %}
{% endblock head %}

{% block body %}
    <h1>Моя будущая профессия</h1>
    <h2>выбранные первоклассниками г. Магнитогорска 2020-2021 учебного года направления будущей деятельности</h2>
    <div class="gallery">
        <div class="stats">
            <h1>Статистика</h1>
            <table>
                <tr>
                    <th>Направление</th>
                    <th>Процент</th>
                </tr>
                {% for prof in professions_percentages %}
                    <tr>
                        <td>{{ prof.profession }}</td>
                        <td>{{ prof.percentage }}%</td>
                    </tr>
                {% endfor %}
            </table>
            <hr noshade>
            <div>
                <p>
                    Уважаемые родители, предлагаем ознакомиться со списком учреждений дополнительного образования г. Магнитогорска
                </p>
                <a href="/hobby-groups/" class="green-button" target="_blank">Список кружков</a>
            </div>
            <hr noshade>
            <a href="https://minobr74.ru/" target="_blank">
                <img src="{% static 'banners/doe-obl.jpg' %}">
            </a>
            <a href="https://magobr.educhel.ru/" target="_blank">
                <img src="{% static 'banners/doe-city.jpg' %}">
            </a>
            <a href="https://vk.com/kvantorium74" target="_blank">
                <img src="{% static 'banners/kvantorium.jpg' %}">
            </a>
        </div>
        {{ block.super }}
    </div>

    {% include "app/gallery/full-photo-dialog.html" %}
{% endblock body %}
