{% extends "app/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block head %}
    {% render_bundle 'compose' 'css' %}
{% endblock %}

{% block body %}
    <mode class="upload">
        <div>
            <label>
                Твоя фотография
                <input type="file" id="photo-input">
            </label>
            <button onclick="loadPhoto()">Наложить рамку</button>
        </div>
    </mode>

    <mode class="composition">
        <composition-area>
            <img class="photo">
            <canvas class="result"></canvas>
        </composition-area>
        <control-area>
            <div class="frames">
                {% for frame in frames %}
                    <img src="{% get_static_prefix %}frames/{{ frame }}" onclick="applyFrame(this)">
                {% endfor %}
            </div>
            <div class="send-wrapper">
                <button class="green-button" id="done" onclick="compositionDone()" disabled>Готово</button>
            </div>
        </control-area>
    </mode>

    <canvas class="scratchboard"></canvas>

    <div class="dialog-darken" onclick="setDialogVisible(false)">
        <dialog onclick="event.stopPropagation()">
            <close-container><close onclick="setDialogVisible(false)">×</close></close-container>
            Спасибо! Ты можешь скачать фотографию с рамкой и поделиться ей, нажав на кнопку:
            <a class="green-button" id="download" download="Фото с рамкой.png">Скачать</a>
            У тебя также есть возможность опубликовать фотографию на ?доску?
            <buttons>
                <button class="green-button" onclick="submitPhoto()">Да</button>
                <a class="green-button" href="{% url 'finish' %}?published=0">Нет</a>
            </buttons>
        </dialog>
    </div>

    {% render_bundle 'compose' 'js' %}
{% endblock %}
