{% extends "app/base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}Спасибо!{% endblock %}

{% block head %}
    {% render_bundle 'compose_finish' 'css' %}
{% endblock head %}

{% block body %}
    <div>
        <p>Спасибо!</p>
        {% if photo_id %}
            <p>
                Через некоторое время после модерации Ваша фоторамка с фотографией появится в <a href="/gallery/">галерее "Моя будущая профессия"</a>.
            </p>
            <p>
             Номер вашей фотографии - {{ photo_id }}. Запомните его, если захотите посмотреть фотографию или убрать ее с доски.
            </p>
        {% else %}
            <p>
                В <a href="/gallery/">галерее "Моя будущая профессия"</a> можно увидеть фоторамки других ребят.
            </p>
        {% endif %}
        <hr noshade>
        <p>
            Уважаемые родители, учреждения дополнительного образования города Магнитогорска ждут ваших детей. Выбирайте подходящее направление для вашего ребёнка и приходите к нам.
        </p>
        <a href="/hobby-groups/" class="green-button" target="_blank">
            Посмотреть список кружков
        </a>
    </div>

    {% render_bundle 'compose_finish' 'js' %}
{% endblock %}
