{% extends "app/base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}Спасибо!{% endblock %}

{% block head %}
    {% render_bundle 'compose_finish' 'css' %}
{% endblock head %}

{% block body %}
    <div>
        <p>Спасибо!</p>
        {% if photo_id %}
            <p>
                Через некоторое время после модерации Ваша фоторамка с фотографией появится в галерее "Моя будущая профессия".
            </p>
            <p>
             Номер вашей фотографии - {{ photo_id }}. Запомните его, если захотите посмотреть фотографию или убрать ее с доски.
            </p>
        {% else %}
            <p>
                В галерее "Моя будущая профессия" можно увидеть фоторамки других ребят.
            </p>
        {% endif %}
        <a href="/gallery/" class="green-button">Галерея "Моя будущая профессия"</a>

        <div class='embed-container'><iframe src='https://www.youtube.com/embed/FahA4MZhwAo' frameborder='0' allowfullscreen></iframe></div>

        <hr noshade>

        <p>
            Уважаемые родители, учреждения дополнительного образования города Магнитогорска ждут ваших детей. Выбирайте подходящее направление для вашего ребёнка и приходите к нам.
        </p>
        <a href="/hobby-groups/" class="green-button" target="_blank">
            Посмотреть список кружков
        </a>
    </div>

    {% render_bundle 'compose_finish' 'js' %}
{% endblock %}
