{% extends "app/base.html" %}

{% block title %}Список кружков{% endblock %}
{% load render_bundle from webpack_loader %}

{% block head %}
    {% render_bundle 'hobby_groups' 'css' %}
{% endblock %}

{% block body %}

<div>
    <h1>
        Ссылки на официальный сайт учреждений дополнительного образования, подведомственных управлению образования
    </h1>

    <table>
        <tr>
            <td>МУ ДО «Детско-юношеский центр «Максимум»</td>
            <td>пр. Ленина, 122/4</td>
            <td>8 (3519) 34-31-26</td>
            <td><a href="http://maximum74.ru/">http://maximum74.ru/</a></td>
        </tr>
        <tr>
            <td>МАУ ДО «Дворец творчества детей и молодежи»</td>
            <td>пр. Ленина, 59</td>
            <td>8 (3519) 26-72-39</td>
            <td><a href="https://dtdm.educhel.ru">https://dtdm.educhel.ru</a></td>
        </tr>
        <tr>
            <td>МУ ДО «Центр детского творчества Орджоникидзевского района»</td>
            <td>ул. Ворошилова, 3</td>
            <td>8 (3519) 40-02-75</td>
            <td><a href="https://cdtor-mgn.educhel.ru/">https://cdtor-mgn.educhel.ru/</a></td>
        </tr>
        <tr>
            <td>МУ ДО «Правобережный центр дополнительного образования детей»</td>
            <td>ул. Галиуллина, 17</td>
            <td>8 (3519) 40-65-45</td>
            <td><a href="https://pcdod.ru/activity/events/1sentyabrya">https://pcdod.ru/activity/events/1sentyabrya</a></td>
        </tr>
    </table>
</div>

<div>
    <h1>
        Ссылки на официальный сайт учреждений, подведомственных управлению культуры
    </h1>

    <table>
        <tr>
            <td>МБУДО «Детская школа искусств № 1» г. Магнитогорска</td>
            <td>пр. Пушкина, 17</td>
            <td><a href="https://mdsi1.ru/ ">https://mdsi1.ru/ </a></td>
        </tr>
        <tr>
            <td>МБУДО «Детская школа искусств № 2» г. Магнитогорска</td>
            <td>ул. Московская, 21</td>
            <td><a href="https://dshi2mgn.ru/">https://dshi2mgn.ru/</a></td>
        </tr>
        <tr>
            <td>МБУДО «Детская музыкальная школа № 3», г. Магнитогорска</td>
            <td>ул. Калинина, 10/1</td>
            <td><a href="http://mgndmsh3.chel.muzkult.ru/contacts">http://mgndmsh3.chel.muzkult.ru/contacts</a></td>
        </tr>
        <tr>
            <td>МБУДО «Детская школа искусств № 4», г. Магнитогорска</td>
            <td>ул. Б. Ручьёва, 18/1</td>
            <td><a href="http://www.4muse.ru/">http://www.4muse.ru/</a></td>
        </tr>
        <tr>
            <td>МБУДО «Детская школа искусств № 6», г. Магнитогорска</td>
            <td>пр. Ленина, 108/1, ул. Ворошилова, 33/1</td>
            <td><a href="http://www.magschool6.ru/">http://www.magschool6.ru/</a></td>
        </tr>
        <tr>
            <td>МБУДО «Детская школа искусств № 7», г. Магнитогорска</td>
            <td>ул. Бахметьева, 31</td>
            <td><a href="https://mdshi7.ru/">https://mdshi7.ru/</a></td>
        </tr>
        <tr>
            <td>МБУДО «Детская художественная школа» г. Магнитогорска</td>
            <td>пр. К. Маркса, 145/4, пр. Карла Маркса, д. 168/1, ул. Сталеваров, д.26/1</td>
            <td><a href="http://магдхш.рф/">http://магдхш.рф/</a></td>
        </tr>
        <tr>
            <td>МБУДО «ДШИ «Дом музыки» г. Магнитогорска</td>
            <td>ул. Галиуллина, 11/1, ул. Сталеваров, 10/1, пр. Карла Маркса, 110</td>
            <td><a href="http://дом-музыки.рус/">http://дом-музыки.рус/</a></td>
        </tr>
        <tr>
            <td>МБУДО «Центр музыкального образования «Камертон» г. Магнитогорска</td>
            <td>ул. Труда, 14/1</td>
            <td><a href="http://www.kamerton-mgn.ru/">http://www.kamerton-mgn.ru/</a></td>
        </tr>
    </table>
</div>

<div>
    <h1>
        Ссылки на официальный сайт учреждений, подведомственных управлению по физической культуре, спорту и туризму
    </h1>

    <table>
        <tr>
            <td>МУ «СШОР № 1»</td>
            <td>ул. Набережная, 11/3</td>
            <td><a href="http://www.beg74.ru/">http://www.beg74.ru/</a></td>
        </tr>
        <tr>
            <td>МУ ДО «ДЮСШ № 2»</td>
            <td>Центральный переход, 1, ул. Первомайская, 5</td>
            <td><a href="http://sport2.magnitogorsk.org/">http://sport2.magnitogorsk.org/</a></td>
        </tr>
        <tr>
            <td>МУ «СШ № 3» ФОК</td>
            <td>ул. Советская, 133/2<br><br><i>Спортивный павильон</i> - ул. Набережная, 7<br><br><i>Роликодром</i> -  ул. Галиуллина, 11/3</td>
            <td><a href="http://www.mgnsport-school3.ru/">http://www.mgnsport-school3.ru/</a></td>
        </tr>
        <tr>
            <td>МУ ДО «ДЮСШ №4»</td>
            <td>ул. Дружбы, 29<br><br><i>Клуб «Белая ладья»</i> - ул. Галиуллина, 24а</td>
            <td><a href="http://dussh4.magnitogorsk.org/">http://dussh4.magnitogorsk.org/</a></td>
        </tr>
        <tr>
            <td>МУ «СШ № 6»</td>
            <td>ул. Галиуллина, 3/1<br><br><i>ФОК</i> - ул. Пушкина, 17/1, ул. Ангарская, 137, ул. Писарева, 18а,</td>
            <td><a href="http://dussh6.magnitogorsk.org/">http://dussh6.magnitogorsk.org/</a></td>
        </tr>
        <tr>
            <td>МУ «СШОР № 8»</td>
            <td>ул. Доменщиков, 9, ул. Калмыкова, 4/1<br><br><i>Дворец дзюдо</i> - ул. Бехтерева, 8/1</td>
            <td><a href="http://judo-magnitka.ru/">http://judo-magnitka.ru/</a></td>
        </tr>
        <tr>
            <td>МУ «СШОР «Динамо»</td>
            <td>ул. Строителей, 16<br><br><i>ФОК</i> -  ул. Грязнова, 44/5</td>
            <td></td>
        </tr>
        <tr>
            <td>Дворец спорта «Динамо»</td>
            <td>ул.Н.Шишка,31</td>
            <td></td>
        </tr>
        <tr>
            <td>МБУ «Спортивный клуб «Горизонт»</td>
            <td>ул. Галиуллина, 3</td>
            <td><a href="https://горизонт-спорт.рф">https://горизонт-спорт.рф</a></td>
        </tr>
        <tr>
            <td>МБУ «Магнитогорский спортивно-технический клуб»</td>
            <td>ул. Электросети, 2</td>
            <td><a href="http://magnitstk.edusite.ru/">http://magnitstk.edusite.ru/</a></td>
        </tr>
    </table>
</div>

{% render_bundle 'hobby_groups' 'js' %}
{% endblock %}
