{% extends "app/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block title %}Викторина{% endblock %}

{% block head %}
    {% render_bundle 'quiz' 'css' %}
    {% render_bundle 'quiz' 'js' %}
{% endblock %}

{% block body %}
    <img class="bell" src="{% static 'bell.png' %}">

    <div class="greeting">
        <span class="happy">
            Дорогие первоклассники! Поздравляем вас с Днем знаний и началом новой интересной жизни.
        </span>
        <br><br>
        Предлагаем вам посмотреть видеосюжеты, которые, с любовью к вам, подготовили образовательные учреждения города. В каждом видеоролике есть цифры, сложив которые вы получите число. Это позволит вам перейти на следующий этап. А что там вас ждет пусть останется приятным сюрпризом.
        <br><br>
        Желаем вам удачи в решении вашей первой в этом учебном году задачки.
    </div>

    <div class='embed-container'><iframe src='https://www.youtube.com/embed/rLehAftp9pM' frameborder='0' allowfullscreen></iframe></div>
    <div class='embed-container'><iframe src='https://www.youtube.com/embed/-1N59VoB-rw' frameborder='0' allowfullscreen></iframe></div>
    <div class='embed-container'><iframe src='https://www.youtube.com/embed/pHl5MPlNAOs' frameborder='0' allowfullscreen></iframe></div>
    <div class='embed-container'><iframe src='https://www.youtube.com/embed/l4ZEJWtCGgg' frameborder='0' allowfullscreen></iframe></div>
    <div class='embed-container'><iframe src='https://www.youtube.com/embed/A2ZumNLaf6U' frameborder='0' allowfullscreen></iframe></div>

    <checker>
        Число:
        <input type="text" pattern="\d*" maxlength="1" onkeypress="numberInputEnter(event)">
        <message class="correct">Правильно! Молодец!</message>
        <message class="wrong">Извините, не угадали! Посмотрите ролики ещё раз, чтобы узнать правильный ответ!</message>
        <button onclick="checkNumber()" class="green-button full-width">Проверить</button>
    </checker>
{% endblock %}
