{% extends "app/base.html" %}
{% load render_bundle from webpack_loader %}

{% block title %}Викторина{% endblock %}

{% block head %}
    {% render_bundle 'quiz' 'css' %}
{% endblock %}

{% block body %}
    <div class='embed-container'><iframe src='https://www.youtube.com/embed/dQw4w9WgXcQ' frameborder='0' allowfullscreen></iframe></div>
    <div class='embed-container'><iframe src='https://www.youtube.com/embed/dQw4w9WgXcQ' frameborder='0' allowfullscreen></iframe></div>
    <div class='embed-container'><iframe src='https://www.youtube.com/embed/dQw4w9WgXcQ' frameborder='0' allowfullscreen></iframe></div>
    <div class='embed-container'><iframe src='https://www.youtube.com/embed/dQw4w9WgXcQ' frameborder='0' allowfullscreen></iframe></div>
    <div class='embed-container'><iframe src='https://www.youtube.com/embed/dQw4w9WgXcQ' frameborder='0' allowfullscreen></iframe></div>

    <checker>
        Число:
        <input type="text" pattern="\d*" maxlength="1" onkeypress="numberInputEnter(event)">
        <message class="correct">Правильно! Молодец!</message>
        <message class="wrong">Извини, не угадал! Посмотри ролики ещё раз, чтобы узнать правильный ответ!</message>
        <button onclick="checkNumber()" class="green-button full-width">Проверить</button>
    </checker>

    {% render_bundle 'quiz' 'js' %}
{% endblock %}
