@use "button"
@use "card"
@use "common"

=center
    display: flex
    justify-content: center
    align-items: center

body
    margin: 0

mode
    display: flex
    width: 100vw
    height: 100vh
    overflow: hidden

    &.upload
        +center

        .upload-card
            display: flex
            flex-direction: column
            align-items: center

        .upload-instruction
            font-size: 14pt

        input
            display: block
            margin: 0

            &[type=file]
                margin: 1em 0

    &.composition
        display: none

@media(max-width: 690px)
    mode.composition
        flex-direction: column
        overflow: auto

    composition-area, control-area
        width: 100% !important

composition-area
    +center
    +card.card

    display: flex
    width: 65vw

    canvas
        display: none

    .photo, canvas
        max-width: 100%
        max-height: 100%

control-area
    width: 35vw
    display: flex
    flex-direction: column
    justify-content: space-between

composition-wrapper
    +center

    composition
        $height: 50vh

        height: $height

        +center
        position: relative

        .frame
            position: absolute
            left: 0
            top: 0

        img
            max-height: $height
            max-width: 95vw
            object-fit: contain

        div.photo
            background:
                size: contain
                repeat: no-repeat
                position: center

canvas.scratchboard
    display: none

.send-wrapper
    +center

    margin: 2rem

    button
        font-size: 22pt
        width: 25%
        min-width: 120px

.frames
    +card.card

    display: flex
    margin: 1rem
    flex:
        wrap: wrap
        grow: 1
    align-content: flex-start
    justify-content: space-evenly
    overflow-x: auto

    img
        width: 200px
        object-fit: contain
        margin: 3px
        margin-right: auto

dialog, .dialog-darken
    display: flex

.dialog-darken
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: #0000005e
    justify-content: center
    align-items: center

.st-btn
    display: block !important

dialog
    +card.card

    flex-direction: column
    padding: 1rem

    close-container
        display: flex
        justify-content: flex-end
        margin-bottom: 0.7rem

        close
            font-size: 24pt
            color: #b5b5b5
            line-height: 50%
            cursor: pointer

    buttons
        display: flex
        margin: 1rem 0

        .green-button
            margin: 0 5px

            &:first-child
                margin-left: 0
            &:last-child
                margin-right: 0
