@use "button"
@use "card"
@use "common"

=center
    display: flex
    justify-content: center
    align-items: center

body
    margin: 0

page
    display: flex
    width: 100vw
    height: 100vh
    flex-direction: column

composition-area
    +center
    height: 65vh

control-area
    height: 35vh

@media(max-width: 1024px)
    composition-area
        height: 55vh

    control-area
        height: 45vh

composition-wrapper
    +center

    composition
        $height: 50vh

        height: $height

        +center
        position: relative

        .frame
            position: absolute
            left: 0
            top: 0

        img
            max-height: $height
            max-width: 95vw

.send-wrapper
    +center

    margin: 2rem

    button
        font-size: 22pt
        width: 25%

.frames
    display: flex
    height: 50vw
    max-height: 175px
    overflow-x: auto
    margin: 2rem 0

    img
        width: auto
        height: 100%
        margin: 0 5px

dialog, .dialog-darken
    display: none

    &.show
        display: flex

.dialog-darken
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: transparent
    justify-content: center
    align-items: center

    transition: color 0.3s ease

    &.show
        background-color: #0000005e

.st-btn
    display: block !important

dialog
    +card.card

    flex-direction: column
    padding: 1rem

    close-container
        display: flex
        justify-content: flex-end
        margin-bottom: 0.7rem

        close
            font-size: 24pt
            color: #b5b5b5
            line-height: 50%
            cursor: pointer

.green-button
    margin:
        top: 1rem
        bottom: 1.5rem

buttons
    display: flex
    margin: 1rem 0

    button
        margin: 0 5px

@media(max-width: 580px)
    .send-wrapper button
        width: 50% !important

@media(max-width: 425px)
    .send-wrapper button
        width: 75% !important